<nav class="grouping">
  <figure>
    <img src="http://webneel.com/sites/default/files/images/manual/logo/10-best-shopping-store-logo.gif">
    <input class= "search-bar" type="text">
    <ul class="primary-nav">
      <li><a href="#">Home</a></li>
      <li class="has-submenu"><a href="#">Home1</a>
        <ul>
          <li><a href="#">Test</a></li>
          <li><a href="#">Test1</a></li>
          <li><a href="#">Test2</a></li>
          <li><a href="#">Test3</a></li>
        </ul>
      </li>
      <li><a href="#">Homw2</a></li>
      <li><a href="#">Home3</a></li>
    </ul>
  </figure>
</nav>